* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
/* shared style */
.font-open-sans {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
}

.color-orange {
  color: #fd6e0a;
}

.logo h2 {
  font-size: 45px;
  font-weight: 900;
}

.btn {
  background-color: #fd6e0a;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  padding: 18px 35px;
  cursor: pointer;
}

.section-heading {
  max-width: 827px;
  text-align: center;
}

.section-heading h2 {
  font-size: 35px;
  margin-bottom: 30px;
}

.section-heading p {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 30px;
  color: #757575;
}

/* main style */

/* header section */
header {
  background-color: #fff8f3;
  background: url('../images/developer.png'), url('/images/header_bg.png'),
    #fff8f3;
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  padding-top: 50px;
}

nav {
  width: 71%;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
  /* border: 1px solid red; */
}

nav .menu {
  display: flex;
  list-style: none;
  gap: 51px;
  align-items: center;
}

nav .menu a {
  font-size: 20px;
  color: #474747;
  text-decoration: none;
}

/* banner section */
#banner {
  /* border: 1px solid red; */
  margin: 46px 38px 27px 230px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#banner .banner-content {
  max-width: 585px;
}

#banner .banner-content h2 {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 5px;
}
#banner .banner-content h1 {
  /* color: #474747; */
  font-size: 85px;
  font-weight: bold;
  margin-bottom: 20px;
}
#banner .banner-content p {
  color: #474747;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
}

#banner .banner-image img {
  max-width: 584px;
  vertical-align: middle;
}

/* about section */

#about {
  padding-top: 130px;
}

#about .about-container {
  width: 71%;
  max-width: 1140px;
  margin: auto;
  background-color: #fff8f3;
  text-align: center;
  padding: 131px 156px;
}

#about .about-container .about-info {
  display: flex;
  justify-content: space-around;
}

.about-info .info-card p {
  font-size: 20px;
  line-height: 30px;
  color: #757575;
}
.about-info .info-card h4 {
  font-size: 20px;
  line-height: 30px;
  color: #474747;
}
