* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
/* shared style */
.font-open-sans {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
}

.color-orange {
  color: #fd6e0a;
}

.logo h2 {
  font-size: 45px;
  font-weight: 900;
}

.btn {
  background-color: #fd6e0a;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  padding: 18px 35px;
  cursor: pointer;
}

.contact-btn {
  background-color: #fff8f3;
  border: 1px solid #fd6e0a;
  color: #fd6e0a;
  margin-left: 25px;
}

.section-heading {
  max-width: 827px;
  text-align: center;
  margin: auto;
}

.section-heading h2 {
  font-size: 35px;
  margin-bottom: 30px;
}

.section-heading p {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 30px;
  color: #757575;
}

.text-center {
  text-align: center;
}

/* main style */

/* header section */
header {
  background-color: #fff8f3;
  background: url('../images/developer.png'), url('/images/header_bg.png'),
    #fff8f3;
  background-position: 23px 38px, bottom right;
  background-repeat: no-repeat;
  padding-top: 50px;
}

nav {
  width: 71%;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
  /* border: 1px solid red; */
}

nav .menu {
  display: flex;
  list-style: none;
  gap: 51px;
  align-items: center;
}

nav .menu a {
  font-size: 20px;
  color: #474747;
  text-decoration: none;
}

/* banner section */
#banner {
  /* border: 1px solid red; */
  margin: 46px 38px 27px 230px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#banner .banner-content {
  max-width: 585px;
}

#banner .banner-content h2 {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 5px;
}
#banner .banner-content h1 {
  /* color: #474747; */
  font-size: 85px;
  font-weight: bold;
  margin-bottom: 20px;
}
#banner .banner-content p {
  color: #474747;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
}

#banner .banner-image img {
  max-width: 584px;
  vertical-align: middle;
}

/* about section */

#about,
#skills,
#resume {
  padding-top: 130px;
}

#about .about-container {
  width: 71%;
  max-width: 1140px;
  margin: auto;
  background-color: #fff8f3;
  text-align: center;
  padding: 131px 156px;
}

#about .about-container .about-info {
  display: flex;
  justify-content: space-around;
}

.about-info .info-card p {
  font-size: 20px;
  line-height: 30px;
  color: #757575;
}
.about-info .info-card h4 {
  font-size: 20px;
  line-height: 30px;
  color: #474747;
}

#skills .skills-container {
  width: 1140px;
  width: 71%;
  margin: auto;
  text-align: center;
}

#skills .skills-container .skills-box {
  display: flex;
  gap: 24px;
}

.skills-box .skill-card {
  padding: 30px;
  max-width: 267px;
  box-shadow: 0px 6px 50px 0 #00000013;
}

.skills-box .skill-card img {
  max-width: 44px;
  max-height: 44px;
  margin-bottom: 30px;
}

.skills-box .skill-card h3 {
  font-size: 20px;
  color: #181818;
  margin-bottom: 20px;
}
.skills-box .skill-card p {
  font-size: 18px;
  color: #757575;
  line-height: 28px;
}

/* resume section */

#resume .resume-container {
  width: 71%;
  max-width: 1140px;
  margin: 113px auto 0;
  display: flex;
  gap: 24px;
}

.resume-container .section-title {
  font-size: 30px;
  font-weight: bold;
  color: #474747;
}

.resume-card {
  max-width: 511px;
  margin-right: 47px;
}

.resume-card .card-title {
  font-size: 25px;
  font-weight: bold;
  color: #474747;
  margin-top: 30px;
}

.resume-card .card-info {
  font-size: 20px;
  font-weight: 600;
  color: #757575;
  margin-bottom: 20px;
}
.resume-card p {
  font-size: 16px;
  line-height: 28px;
  color: #757575;
  margin-bottom: 30px;
}

#resume .text-center button {
  margin-top: 20px;
}

footer {
  margin-top: 130px;
  background-color: #fff8f3;
  padding: 130px;
}

footer .footer-container {
  width: 71%;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  gap: 116px;
  margin: auto;
}

.footer-container .social {
  max-width: 562px;
}

.footer-container h2 {
  color: #181818;
  font-size: 35px;
  margin-bottom: 20px;
}
.footer-container p {
  color: #474747;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 30px;
}

.footer-container .icons a {
  margin-right: 24px;
}

.footer-container form input[type='text'],
.footer-container form input[type='email'],
.footer-container form textarea {
  width: 461px;
  padding: 18px 31px;
  margin-bottom: 24px;
  border: none;
  border-radius: 5px;
  color: #757575;
}
